.packages{
    padding-top: 50px;
    background-color: #fff;
    z-index: 1;
    // overflow: hidden;

    &__container{
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        justify-content: space-between;
    }
    &__image{
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__data{
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }
    &__desc{
        color: #767676;
        font-weight: 400;
        font-family: var(--body-font);
        font-size: var(--h5-font-size);
    }
    &__descs{
        font-family: var(--body-font);
        font-size: var(--h5-font-size);
        font-weight: 400;
        margin: 0.5rem 0 1rem;
        color: #767676;
        line-height: 1.4;
    }
    &__content-warpper span{
        color: #767676;
    }
    &__title{
        font-size: var(--h1-font-size);
        font-weight: 400;
        font-family: var(--volkhov);
        margin-bottom: 1rem;
        color: #484848;
    }
    &__description{
        text-decoration: underline;
        font-size: var(--h5-font-size);
        font-family: var(--body-font);
        font-weight: 400;
        color: #000;
    }
    &__content-warpper{
        display:flex;
        align-items: center;
        justify-content: center;
        column-gap: 2rem;
        margin-bottom: 1rem;
    }
    &__button{
        background-color: #000;
        color: #fff;
        padding: 2px 15px;
        font-family: var(--body-font);
        font-weight: 400;
        border-radius: 12px;
        font-size: var(--h5-font-size);
    }
    &__money{
        font-family: var(--body-font);
        font-weight: 500;
        font-size: var(--h2-font-size);
        margin-bottom: 1rem;
    }
    &__button-link{
        background-color: #000;
        color: #fff;
        font-size: var(--h5-font-size);
        font-weight: 400;
        font-family: var(--body-font);
        padding: 10px 20px;
        border-radius: 6px;
    }
    // @media screen and (max-width: 1279px) {
    //     &__container::before {
    //         background-color: unset;
    //     }
    // }
    
    @media screen and (max-width: 320px) {
        &__content-warpper {
            column-gap: 1rem;
        }
        &__main{
            margin-inline: 1rem;
        }
        &__descs {
            margin: 1rem 0 1rem;
        }
        &__container {
            row-gap: 2.5rem;
        }
    }
    @media screen and (min-width: 320px) {
        &__content-warpper {
            column-gap: 1rem;
        }
        &__descs{
            margin: 1.5rem auto 1.5rem;
            width: 300px;

        }
        &__button-link{
            padding: 10px 30px;
        }
        &__descs{
            width: unset;
        }
        &__data{
            width: 80%;
        }
        &__container {
            row-gap: 2.5rem;
        }
    }

    @media screen and (min-width: 460px) {
        &__title{
            margin-top: 0.5rem;
        }
        &__data{
            margin: 1.5rem auto;
            width: 60%;
        }
    }
    @media screen and (min-width: 768px) {
        &__container{
            flex-direction: row;
            &::before{
                content: "";
                position: absolute;
                background-color: #DADADA;
                right: 0;
                width: 50%;
                height: 100%;
                top: 0;
            }
            
        }
        &__bg{
            height: 100%;
            border: 1px solid #000;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 4;
        }
        &__data{
            text-align: initial;
            margin: 40px 0 40px 40px;
            width: 81%;
        }
        &__main{
            position: relative;
            z-index: 5 !important;
            
        }
        &__image,
        &__main{
            width: 50%;
        }
        &__content-warpper {
            justify-content: initial;
        }
    }
    
    
    @media screen and (min-width: 1023px) {
        &__data{
            margin: 0 auto;
        }
        &__content-warpper {
            justify-content: initial;
        }
        &__main {
            width: 50%;
            z-index: 1;
        }
        &__data {
            width: 80%;
            margin: 60px 0 60px 60px;
        }
    }
    
    @media screen and (min-width: 1150px) {
        padding-top: 70px;
        &__data{
            width: 81%;
        }
        &__image {
            position: relative;
        }
        &__descs {
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
        }
        &__main {
            width: 44.5%;
        }
    
    }
    @media screen and (min-width: 1250px) {
        &__data{
            width: 515px;
        }
        &__gray{
            position: absolute;
            top: 50%;
            left: 48.7%;
            transform: translate(-50%,-50%);
            width: 7%;
            background-color: #DADADA;
            z-index: 3;
            rotate: 18deg;
            height: 113%;
        }
        &__white{
            position: absolute;
            top: 50%;
            left: 40.4%;
            transform: translate(-50%, -50%);
            width: 9.1%;
            background-color: #F8F8F8;
            z-index: 4;
            rotate: 18deg;
            height: 112%;
        }
        &__bg{
            rotate: 18deg;
            left: 45%;
            height: 111%;
        }
    }
    @media screen and (min-width: 1250px) {
        &__white{
            left: 40.2%;
        }
    }
    @media screen and (min-width: 1350px) {
        &__white{
            left: 40.3%;
        }
    }
    
}